<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FazTudo.Properties.Settings.FazTudoConnectionString"
            connectionString="Data Source=db-v-sql1-1d01;Initial Catalog=FazTudo;Persist Security Info=True;User ID=sa;Password=DbP@ssw0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>